@import 'src/index';

.Home {
  width: 100%;
  height: 100%;

  .FullScreenLogo {
    object-fit: contain;
    width: 100vw;
    height: 100vh;
    animation: fadein-fadeout 3s;
    animation-fill-mode: forwards;
    z-index: 1000;
    display: block;
  }

  .pageContent {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    animation: fadein-and-expand 1.7s;
    animation-fill-mode: backwards;
    animation-delay: 1.8s;
  }
}
