@import 'src/index';

.StoreButton {
  display: flex;
  padding: 12.5px 24px;
  flex-direction: row;
  align-items: center;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-right: 12px;

  .buttonIcon {
    object-fit: contain;
    height: 17px;
    width: 17px;
    margin-right: 12.5px;
  }
  .buttonText {
    white-space: nowrap;
    color: #140CA3;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 19.2px;
  }

  &:hover {
    filter: brightness(120%) saturate(120%);
    cursor: pointer;
  }

  &:active, :focus {
    background-color: #e6e6e6;
    opacity: 0.8;
    color: #110a8c;
  }
}


@media screen and (max-width: 1200px)  {
  .StoreButton {
    padding: 8px 12px;

    .buttonText {
      font-size: 12px;
      line-height: 12px;
    }
  }
}
