@import 'src/index';

.InfoCard {
  display: inline-flex;
  width: 33%;
  font-family: 'RocGrotesk', serif;
  font-style: normal;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 48px;

  .cardIcon {
    object-fit: contain;
    height: 60px;
    width: 60px;
  }

  .cardTitle {
    display: block;
    font-size: 28px;
    line-height: 36.4px;
    font-weight: $font-weight-bold;
    margin-top: $margin-normal;
  }

  .cardBody {
    margin-top: $margin-small;
    font-size: 18px;
    line-height: 25.2px;
    margin-right: $margin-normal;
  }
}

@media screen and (max-width: 1200px)  {
  .InfoCard {
    width: 50%;

    .cardTitle {
      font-size: 21px;
      line-height: 24px;
    }

    .cardIcon {
      height: 50px;
      width: 50px;
    }
  }
}
