body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$section-padding-regular: 96px 0 0 135px;
$section-padding-medium: 42px 0 0 50px;
$section-padding-small: 20px 0 0 50px;

$margin-large: 96px;
$margin-normal: 32px;
$margin-small: 16px;

$font-weight-bold: 700;
$font-weight-regular: 400;

@keyframes fadein-and-expand {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
    transform: scale(1);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein-fadeout {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: 'RocGrotesk';
  src: local('RocGrotesk'), url(assets/fonts/RocGrotesk.ttf) format('opentype');
}
