@import 'src/index';

.InfoSection {
  padding: $section-padding-regular;

  .sectionTitle {
    font-family: 'RocGrotesk', serif;
    font-style: normal;
    display: block;
    font-size: 64px;
    line-height: 70.4px;
    font-weight: $font-weight-bold;
  }

  .cardsList {
    display: block;
    width: 100%;
    margin-top: 72px;
  }
}

@media screen and (max-width: 1200px)  {
  .InfoSection {
    padding: $section-padding-medium;

    .sectionTitle {
      font-size: 48px;
      line-height: 56px;
    }

    .cardsList {
      margin-top: 38px;
    }
  }
}
