@import 'src/index';

.Banner {
  display: flex;
  position: relative;
  align-items: flex-end;
  color: white;
  background: #01178B url("../../assets/banner-picture.png") no-repeat right;
  background-size: 46% 100%;
  min-width: 1024px;
  max-height: 60%;
  height: 60%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .bannerQ {
    position: absolute;
    left: 11.5%;
    height: 100%;
    width: 89%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .leftBannerContainer {
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: $section-padding-regular;
    box-sizing: border-box;

    .text {
      display: block;
      font-family: 'RocGrotesk', serif;
      font-weight: $font-weight-regular;
      font-style: normal;

      &.title {
        width: 39%;
        line-height: 92px;
        font-size: 92px;
      }

      &.description {
        width: 39%;
        margin-top: 24px;
        line-height: 24px;
        font-size: 24px;
      }

      &.bold {
        font-weight: $font-weight-bold;
      }
    }

    .buttonsContainer {
      display: flex;
      width: 49%;
      margin-top: $margin-normal;
      justify-content: flex-start;
    }
  }
}


@media screen and (max-width: 1200px)  {
  .Banner {
    height: 40%;

    .leftBannerContainer {
      padding: $section-padding-small;

      .text {
        &.title {
          line-height: 78px;
          font-size: 78px;
        }

        &.description {
          line-height: 16px;
          font-size: 16px;
        }
      }

      .buttonsContainer {
        margin-top: $margin-small;
      }
    }
  }
}
